<!DOCTYPE html>
<html lang="en">
    
<%- include('../partials/head', {title: "- Crear Producto", cssFile: "producto", cssHome: ""}) %>

<body>
    <main class="main-producto">
        <div class="contenedor-form">
            <img src="/images/Logo.png" alt="Logo" class="logo">

            <!-- el form me indica que es un formulario, action es donde se va a guardar el formulario
            y el method es el metodo, get/post/put etc. Cuando aprieto enviar post envia a guardar-->
            <div class="form">
                <h2 class="title">Crear Producto</h2>
                
                <form action="/products" method='POST' class="contenedor-producto" enctype="multipart/form-data">
                    <div class="datos">      
                        <div class="contenedor-datos1">
                            <label for="nombre" class="label">Nombre del producto</label>
                            <input type="text" name="nombre" class="input" placeholder="Nombre del producto" required>
                            <span class="feedback-negativo">El nombre es obligatorio</span>

                            <label for="marca" class="label">Marca del Producto</label>
                            <input type="text" name="marca" class="input" placeholder="Marca del producto" required>
                            <span class="feedback-negativo">La marca es obligatoria</span>                           
                        
                            <label for="categoria">Categoría</label>
                            <select name="categoria" required>
                                <option value="seleccionar" selected>Seleccionar Categoria</option>
                                <option value="celulares">Celulares</option>
                                <option value="monitores-tvs">Monitores & TVs</option>
                                <option value="tablets">Tablets</option>
                                <option value="notebooks">Notebooks</option>
                                <option value="hardware">Hardware</option>
                                <option value="accesorios">Accesorios</option>
                            </select>
                            
                        </div>

                        
                        <div class="contenedor-datos2">

                            <label for="precio">Precio</label>
                            <input type="number" name="precio" placeholder="Colocar los numeros sin comas ni puntos. Ej: 2400" required>
                            <span class="feedback-negativo">El precio es obligatorio</span>
                            
                            <label for="porcentaje" class="label">Porcentaje de descuento</label>
                            <input type="number" name="porcentaje" placeholder="Si no tiene descuento colocar un cero. Ej: 0" required>
                            <span class="feedback-negativo">El porcentaje es obligatorio</span>

                            <label for="imagen-principal">Imagen Principal</label>
                            <input type="file" class="input-imagen" name="imagen-principal" accept=".jpg, .jpeg, .png" required>

                            <label for="imagenes-extra">Imagenes Extra</label>
                            <input type="file" class="input-imagen" name="imagenes-extra" accept=".jpg, .jpeg, .png" multiple>
                            
                        </div>  
                    </div>

                    <label class="textarea-label" for="descripcion">Descripción del Producto</label>
                    <textarea name="descripcion" cols="30" rows="10" placeholder="Escribir titulo y separado con un enter la descripcion correspondiente"></textarea>

                    <label class="textarea-label" for="caracteristicas">Caracteristicas del producto</label>
                    
                    <div>
                        <div class="caja-caracteristicas">
                            <label for="textarea-label">Caracteristica 1:</label><input type='text' name="caracteristicas"  placeholder="titulo de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                            <label for="textarea-label">Descripcion 1:</label><input name="caracteristicas"  placeholder="descripcion de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                        </div>
                        <div class="caja-caracteristicas">
                            <label for="textarea-label">Caracteristica 2:</label><input type='text' name="caracteristicas"  placeholder="titulo de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                            <label for="textarea-label">Descripcion 2:</label><input name="caracteristicas"  placeholder="descripcion de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                        </div>
                        <div class="caja-caracteristicas">
                            <label for="textarea-label">Caracteristica 3:</label><input type='text' name="caracteristicas"  placeholder="titulo de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                            <label for="textarea-label">Descripcion 3:</label><input name="caracteristicas"  placeholder="descripcion de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                        </div>
                        <div class="caja-caracteristicas">
                            <label for="textarea-label">Caracteristica 4:</label><input type='text' name="caracteristicas"  placeholder="titulo de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                            <label for="textarea-label">Descripcion 4:</label><input name="caracteristicas"  placeholder="descripcion de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="boton-submit">Crear Producto</button>
                    </div>
                        
                </form>
               
                
                <hr>
            
                <div class="footer-form">
                    <a href="#" class="ayuda"><i class="bi bi-question-circle"></i> ¿Necesitas ayuda?</a>
                    <a href="/" class="volver-tienda">Volver a la tienda</i></a>
                    <p class="copyright">Copyright © 2023</p>
                </div>
            </div>             
        </div>
    </main>
</body>
</html>