<footer>
    <section class="section-footer">
        <h3>LINKS DE INTERÉS</h3>

        <nav>
            <ul>
                <li><a href="/about">Acerca de nosotros</a></li>
                <li> <a href="mailto:support@innovatechshop.com">Contactanos</a></li>
                <li><a href="/help">¿Necesitas ayuda?</a></li>
            </ul>
        </nav>
    </section>

    <section class="section-footer">
        <h3>HACEMOS ENVÍOS A TODO EL PAÍS</h3>
        <p>Próximamente envíos internacionales</p>
    </section>

    <section class="section-footer">
        <h3>MÉTODOS DE PAGO</h3>
        <div class="caja-mercadoPago">
            <p class="mercadoPago">Mercado pago </p>
            <img src="/images/mercadoPago.png" alt="logo-mercadoPago" class="icono-mercadoPago">
        </div>
        <p>Tarjeta de crédito <i class="bi bi-credit-card"></i></p>
        <p>Tarjeta de débito <i class="bi bi-credit-card-2-front"></i></p>
        <p>Rapipago/pago fácil <i class="bi bi-cash-stack"></i></p>
    </section>

    <section  class="section-footer-copy">
        <h4 class="Copyright">Copyright © 2023/2024</h4>
        <p>DH - Curso Full Stack</p>
    </section>
</footer>