<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Logo.png" />

    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">

    <% if (cssHome != "") {%>
        <link rel="stylesheet" href="/css/<%= cssHome %>.css">
    <% } %>
    
    <link rel="stylesheet" href="/css/<%= cssFile %>.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <title>Innovatech Shop <%= title %></title>
</head>