<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <title>Innovatech Shop - Home</title>
</head>
<body>
    <!--  !HEADER  -->
    <header>
        <div class="navbar-superior">
            <img src="/images/Logo.png" alt="Logo" id="logo">
            <div id="caja-busqueda">
                <input type="text" id="barra-busqueda" placeholder="Buscar productos...">
                <button class="boton-busqueda"><i class="bi bi-search icono-busqueda"></i></button>
            </div>
            
            <a href="#" id="boton-cuenta-movil"><i class="bi bi-person"></i></a>
            <a href="#" id="boton-carrito-movil"><i class="bi bi-cart2"></i></a>

            <a href="#" id="boton-cuenta"><i class="bi bi-person"></i> Ingresar</a>
            <a href="#" id="boton-carrito"><i class="bi bi-cart2"></i> Carrito</a>
        </div>
        <nav class="navbar-inferior">
            <ul>
                <li><a href="#">Celulares <i class="bi bi-caret-down"></i></a></li>
                <li><a href="#">Monitores & TVs <i class="bi bi-caret-down"></i></a></li>
                <li><a href="#">Tablets <i class="bi bi-caret-down"></i></a></li>
                <li><a href="#">Notebooks <i class="bi bi-caret-down"></i></a></li>
                <li><a href="#">Hardware <i class="bi bi-caret-down"></i></a></li>
                <li><a href="#">Accesorios <i class="bi bi-caret-down"></i></a></li>
            </ul>
        </nav>
        <a href="#" id="menu-hamburguesa"><i class="bi bi-list"></i></a>
    </header>
    <!-- * FIN HEADER -->

    <!-- TODO: BANNER DIVIDIDO EN 4 IMAGENES  -->
    <img src="/images/Banner_de_prueba.webp" alt="Banner" id="banner">

    <!--!  MAIN  -->
    <main>
        <!--  * CARRUSEL  -->
        <section>
            <h2 class="titulo-section">Promociones y descuentos</h2>

            <div>
                <p><i class="bi bi-chevron-left"></i></p>
            </div>
            
            <!--  !CUIDADO👀  -->
            <div class="lista-promociones">
                <!--  PRIMER ARTICULO  -->
                <article class="tarjeta-promocion">
                    <div>
                        <p>Imagen producto</p>
                        <p>50% OFF</p>
                    </div>
                    <div>
                        <p>Nombre producto</p>
                        <p>Precio original</p>
                        <p>Precio con descuento</p>
                        <p>Envío gratis <i class="bi bi-truck"></i></p>
                    </div>
                    <a href="#">Comprar</a>
                </article>

                <!--  SEGUNDO ARTICULO  -->
                <article class="tarjeta-articulo">
                    <div>
                        <p>Imagen producto</p>
                        <p>50% OFF</p>
                    </div>
                    <div>
                        <p>Nombre producto</p>
                        <p>Precio original</p>
                        <p>Precio con descuento</p>
                        <p>Envío gratis <i class="bi bi-truck"></i></p>
                    </div>
                    <a href="#">Comprar</a>
                </article>

                <!--  TERCER ARTICULO  -->
                <article class="tarjeta-articulo">
                    <div>
                        <p>Imagen producto</p>
                        <p>50% OFF</p>
                    </div>
                    <div>
                        <p>Nombre producto</p>
                        <p>Precio original</p>
                        <p>Precio con descuento</p>
                        <p>Envío gratis <i class="bi bi-truck"></i></p>
                    </div>
                    <a href="#">Comprar</a>
                </article>

                <!--  TODO: MAS ARTICULOS  -->
            </div>
            <!-- * FIN DIV LISTA-PRODUCTOS -->
            <div>
                <i class="bi bi-chevron-right"></i>
            </div>

        </section>
        <!-- * FIN PRIMERA SECCION -->

        <!--  * CARRUSEL  -->
        <section>
            <h2 class="titulo-section">Productos destacados/nuevos</h2>

            <div>
                <i class="bi bi-chevron-left"></i>
            </div>
            
            <!--  !CUIDADO👀  -->
            <div class="lista-productos">
                <!--  PRIMER ARTICULO  -->
                <article class="tarjeta-articulo">
                    <p>Imagen producto</p>

                    <div>
                        <p>Nombre producto</p>
                        <p>Precio</p>
                        <p>Retiralo HOY! <i class="bi bi-box2-heart"></i></p>
                    </div>
                    <a href="#">Comprar</a>
                </article>

                <!--  SEGUNDO ARTICULO  -->
                <article class="tarjeta-articulo">
                    <p>Imagen producto</p>

                    <div>
                        <p>Nombre producto</p>
                        <p>Precio</p>
                        <p>Retiralo HOY! <i class="bi bi-box2-heart"></i></p>
                    </div>
                    <a href="#">Comprar</a>
                </article>

                <!--  TERCER ARTICULO  -->
                <article class="tarjeta-articulo">
                    <p>Imagen producto</p>

                    <div>
                        <p>Nombre producto</p>
                        <p>Precio</p>
                        <p>Retiralo HOY! <i class="bi bi-box2-heart"></i></p>
                    </div>
                    <a href="#">Comprar</a>
                </article>

                <!--  TODO: MAS ARTICULOS  -->
            </div>
            <!-- * FIN DIV LISTA-PRODUCTOS -->
            <div>
                <i class="bi bi-chevron-right"></i>
            </div>
        </section>
        <!-- * FIN SEGUNDA SECCION -->

        <!-- * CONTACTO -->
        <section>
            <h2 class="titulo-section">Seguinos en nuestras redes</h2>
            <div class="lista-redes">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-twitter-x"></i></a>
            </div>
        </section>
        <!-- * FIN TERCERA SECCION -->
    </main>

    <!--  !FOOTER   -->
    <footer>
        <section>
            <h3>LINKS DE INTERÉS</h3>

            <nav>
                <ul>
                    <li><a href="#">Acerca de nosotros</a></li>
                    <li>Contactanos <a href="#"><i class="bi bi-envelope"></i></a> <a href="#"><i class="bi bi-whatsapp"></i></a></li>
                    <li><a href="#">¿Necesitas ayuda?</a></li>
                </ul>
            </nav>
        </section>

        <section>
            <h3>HACEMOS ENVÍOS A TODO EL PAÍS</h3>
            <p>Próximamente envíos internacionales</p>
        </section>

        <section id="copyright-creditos">
            <p>Copyright © 2023</p>

            <!-- TODO: agregar creditos de recursos usados -->
            <p>Creditos</p>
        </section>
    </footer>
    <!-- * FIN FOOTER -->
</body>
</html>