<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <title>Innovatech Shop - Home</title>
</head>
<body>
    <!--  !HEADER  -->
    <header>
        <div class="navbar-superior">
            <img src="/images/Logo.png" alt="Logo" id="logo">
            <form id="caja-busqueda">
                <input type="text" id="barra-busqueda" placeholder="Buscar productos...">
                <button class="boton-busqueda"><i class="bi bi-search icono-busqueda"></i></button>
            </form>
            
            <a href="#" id="boton-cuenta-movil"><i class="bi bi-person"></i></a>
            <a href="#" id="boton-carrito-movil"><i class="bi bi-cart2"></i></a>

            <a href="#" id="boton-cuenta"><i class="bi bi-person"></i> Ingresar</a>
            <a href="#" id="boton-carrito"><i class="bi bi-cart2"></i> Carrito</a>
        </div>
        <nav class="navbar-inferior">
            <ul>
                <li><a href="#">Celulares <i class="bi bi-caret-down"></i></a></li>
                <li><a href="#">Monitores & TVs <i class="bi bi-caret-down"></i></a></li>
                <li><a href="#">Tablets <i class="bi bi-caret-down"></i></a></li>
                <li><a href="#">Notebooks <i class="bi bi-caret-down"></i></a></li>
                <li><a href="#">Hardware <i class="bi bi-caret-down"></i></a></li>
                <li><a href="#">Accesorios <i class="bi bi-caret-down"></i></a></li>
            </ul>
        </nav>
        <a href="#" id="menu-hamburguesa"><i class="bi bi-list"></i></a>
    </header>
    <!-- * FIN HEADER -->

    <!-- TODO: BANNER DIVIDIDO EN 4 IMAGENES  -->
    <img src="/images/Banner_de_prueba.webp" alt="Banner" id="banner">

    <!--!  MAIN  -->
    <main>
        <!--  * CARRUSEL  -->
        <section>
            <h2 class="titulo-section">Promociones y descuentos</h2>

            <!--  !CUIDADO👀  -->
            <div class="lista-promociones">
                <div>
                    <p><i class="bi bi-chevron-left icono-flecha-izquierda"></i></p>
                </div>

                <!--  PRIMER ARTICULO  -->
                <article class="tarjeta-promocion">
                    <div class="caja-imagen-descuento">
                        <img src="/images/iphone13.png" alt="Imagen Producto" class="imagen-producto">
                        <p class="descuento">10%<br>OFF</p>
                    </div>
                    <div class="caja-precio">
                        <h3>Iphone 13 PRO</h3>
                        <h4 class="precio-original">1.600.000</h4>
                        <h3>1.400.000</h3>
                        <h5>Envío gratis <i class="bi bi-truck"></i></h5>
                    </div>
                    <a href="#" class="boton-compra">Comprar</a>
                </article>

                <!--  SEGUNDO ARTICULO  -->
                <article class="tarjeta-promocion">
                    <div class="caja-imagen-descuento">
                        <img src="/images/MS-32.png" alt="Imagen Producto" class="imagen-producto">
                        <p class="descuento">20%<br>OFF</p>
                    </div>
                    <div class="caja-precio">
                        <h3>Monitor Samsung 32"</h3>
                        <h4 class="precio-original">350.000</h4>
                        <h3>300.000</h3>
                        <h5>Envío gratis <i class="bi bi-truck"></i></h5>
                    </div>
                    <a href="#" class="boton-compra">Comprar</a>
                </article>

                <!--  TERCER ARTICULO  -->
                <article class="tarjeta-promocion">
                    <div class="caja-imagen-descuento">
                        <img src="/images/S-TV65.png" alt="Imagen Producto" class="imagen-producto">
                        <p class="descuento">5%<br>OFF</p>
                    </div>
                    <div class="caja-precio">
                        <h3>Samsung Smart TV 65"</h3>
                        <h4 class="precio-original">1.200.000</h4>
                        <h3>950.000</h3>
                        <h5>Envío gratis <i class="bi bi-truck"></i></h5>
                    </div>
                    <a href="#" class="boton-compra">Comprar</a>
                </article>

                <!--  TODO: MAS ARTICULOS  -->
                <div>
                    <i class="bi bi-chevron-right icono-flecha-derecha"></i>
                </div>
            </div>
            <!-- * FIN DIV LISTA-PRODUCTOS -->

        </section>
        <!-- * FIN PRIMERA SECCION -->

        <!--  * CARRUSEL  -->
        <section>
            <h2 class="titulo-section">Productos destacados/nuevos</h2>

            <!--  !CUIDADO👀  -->
            <div class="lista-productos">
                <div>
                    <i class="bi bi-chevron-left icono-flecha-izquierda"></i>
                </div>
                <!--  PRIMER ARTICULO  -->
                <article class="tarjeta-articulo">
                    <img src="/images/S-Book3.png" alt="Imagen Producto" class="imagen-producto">

                    <div class="caja-precio">
                        <h3>Notebook Samsung Book3</h3>
                        <h4>$680.000</h4>
                        <h5>Retiralo HOY! <i class="bi bi-box2-heart"></i></h5>
                    </div>
                    <a href="#" class="boton-compra">Comprar</a>
                </article>

                <!--  SEGUNDO ARTICULO  -->
                <article class="tarjeta-articulo">
                    <img src="/images/S-TabS8.png" alt="Imagen Producto" class="imagen-producto">

                    <div class="caja-precio">
                        <h3>Samsung Tablet S8+</h3>
                        <h4>$300.000</h4>
                        <h5>Retiralo HOY! <i class="bi bi-box2-heart"></i></h5>
                    </div>
                    <a href="#" class="boton-compra">Comprar</a>
                </article>

                <!--  TERCER ARTICULO  -->
                <article class="tarjeta-articulo">
                    <img src="/images/TCL-TV40.png" alt="Imagen Producto" class="imagen-producto">

                    <div class="caja-precio">
                        <h3>TCL Smart TV 40"</h3>
                        <h4>$260.000</h4>
                        <h5>Retiralo HOY! <i class="bi bi-box2-heart"></i></h5>
                    </div>
                    <a href="#" class="boton-compra">Comprar</a>
                </article>

                <!--  TODO: MAS ARTICULOS  -->
                <div>
                    <i class="bi bi-chevron-right icono-flecha-derecha"></i>
                </div>
            </div>
            <!-- * FIN DIV LISTA-PRODUCTOS -->
        </section>
        <!-- * FIN SEGUNDA SECCION -->

        <!-- * CONTACTO -->
        <section>
            <h2 class="titulo-section">Seguinos en nuestras redes</h2>
            <div class="lista-redes">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-twitter-x"></i></a>
            </div>
        </section>
        <!-- * FIN TERCERA SECCION -->
    </main>

    <!--  !FOOTER   -->
    <footer>
        <section class="section-footer">
            <h3>LINKS DE INTERÉS</h3>

            <nav>
                <ul>
                    <li><a href="#">Acerca de nosotros</a></li>
                    <li>Contactanos <a href="#"><i class="bi bi-envelope"></i></a> <a href="#"><i class="bi bi-whatsapp"></i></a></li>
                    <li><a href="#">¿Necesitas ayuda?</a></li>
                </ul>
            </nav>
        </section>

        <section class="section-footer">
            <h3>HACEMOS ENVÍOS A TODO EL PAÍS</h3>
            <p>Próximamente envíos internacionales</p>
        </section>

        <section class="section-footer">
            <h3>METODOS DE PAGO</h3>
            <div class="caja-mercadoPago">
                <p class="mercadoPago">Mercado pago </p>
                <img src="/images/mercadoPago.png" alt="logo-mercadoPago" class="icono-mercadoPago">
            </div>
            <p>Tarjeta de crédito <i class="bi bi-credit-card"></i></p>
            <p>Tarjeta de debito <i class="bi bi-credit-card-2-front"></i></p>
            <p>Rapipago/pago facíl <i class="bi bi-cash-stack"></i></p>
        </section>

        <section  class="section-footer-copy">
            <h4 class="Copyright">Copyright © 2023</h4>
            <!-- TODO: agregar creditos de recursos usados -->
            <a href="#" class="boton-creditos">Creditos</a>
        </section>
    </footer>
    <!-- * FIN FOOTER -->
</body>
</html>