<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Innovatech Shop - Home</title>
</head>
<body>
    <!--  !HEADER  -->
    <header>
        <div class="navbar-superior">
            <p>Logo</p>
            <p>Barra de busqueda + icono lupa</p>
            <p>Boton: Mi cuenta</p>
            <p>Boton: Carrito</p>
        </div>
        <div class="navbar-inferior">
            <nav>
                <ul>
                    <li><a href="#">Celulares</a></li>
                    <li><a href="#">Monitores & TVs</a></li>
                    <li><a href="#">Tablets</a></li>
                    <li><a href="#">Notebooks</a></li>
                    <li><a href="#">Hardware</a></li>
                    <li><a href="#">Accesorios</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- * FIN HEADER -->

    <!-- TODO: BANNER DIVIDIDO EN 4 IMAGENES  -->
    <p>Banner</p>

    <!--!  MAIN  -->
    <main>
        <!--  * CARRUSEL  -->
        <section>
            <h2>Promociones y descuentos</h2>

            <div>
                <p>Boton para ir a la izquierda</p>
            </div>
            
            <!--  !CUIDADO👀  -->
            <div class="lista-promociones">
                <!--  PRIMER ARTICULO  -->
                <article class="tarjeta-promocion">
                    <div>
                        <p>Imagen producto</p>
                        <p>50% OFF</p>
                    </div>
                    <div>
                        <p>Nombre producto</p>
                        <p>Precio original</p>
                        <p>Precio con descuento</p>
                        <p>Envío gratis + icono camión</p>
                    </div>
                    <a href="#">Comprar</a>
                </article>

                <!--  SEGUNDO ARTICULO  -->
                <article class="tarjeta-articulo">
                    <div>
                        <p>Imagen producto</p>
                        <p>50% OFF</p>
                    </div>
                    <div>
                        <p>Nombre producto</p>
                        <p>Precio original</p>
                        <p>Precio con descuento</p>
                        <p>Envío gratis + icono camión</p>
                    </div>
                    <a href="#">Comprar</a>
                </article>

                <!--  TERCER ARTICULO  -->
                <article class="tarjeta-articulo">
                    <div>
                        <p>Imagen producto</p>
                        <p>50% OFF</p>
                    </div>
                    <div>
                        <p>Nombre producto</p>
                        <p>Precio original</p>
                        <p>Precio con descuento</p>
                        <p>Envío gratis + icono camión</p>
                    </div>
                    <a href="#">Comprar</a>
                </article>

                <!--  TODO: MAS ARTICULOS  -->
            </div>
            <!-- * FIN DIV LISTA-PRODUCTOS -->
            <div>
                <p>Boton para ir a la derecha</p>
            </div>

        </section>
        <!-- * FIN PRIMERA SECCION -->

        <!--  * CARRUSEL  -->
        <section>
            <h2>Productos destacados/nuevos</h2>

            <div>
                <p>Boton para ir a la izquierda</p>
            </div>
            
            <!--  !CUIDADO👀  -->
            <div class="lista-productos">
                <!--  PRIMER ARTICULO  -->
                <article class="tarjeta-articulo">
                    <p>Imagen producto</p>

                    <div>
                        <p>Nombre producto</p>
                        <p>Precio</p>
                        <p>Retiralo HOY! + icono cajita</p>
                    </div>
                    <a href="#">Comprar</a>
                </article>

                <!--  SEGUNDO ARTICULO  -->
                <article class="tarjeta-articulo">
                    <p>Imagen producto</p>

                    <div>
                        <p>Nombre producto</p>
                        <p>Precio</p>
                        <p>Retiralo HOY! + icono cajita</p>
                    </div>
                    <a href="#">Comprar</a>
                </article>

                <!--  TERCER ARTICULO  -->
                <article class="tarjeta-articulo">
                    <p>Imagen producto</p>

                    <div>
                        <p>Nombre producto</p>
                        <p>Precio</p>
                        <p>Retiralo HOY! + icono cajita</p>
                    </div>
                    <a href="#">Comprar</a>
                </article>

                <!--  TODO: MAS ARTICULOS  -->
            </div>
            <!-- * FIN DIV LISTA-PRODUCTOS -->
            <div>
                <p>Boton para ir a la derecha</p>
            </div>
        </section>
        <!-- * FIN SEGUNDA SECCION -->

        <!-- * CONTACTO -->
        <section>
            <h2>Seguinos en nuestras redes</h2>
            <div>
                <a href="#">Icono Facebook</a>
                <a href="#">Icono Instagram</a>
                <a href="#">Icono X/Twitter</a>
            </div>
        </section>
        <!-- * FIN TERCERA SECCION -->
    </main>

    <!--  !FOOTER   -->
    <footer>
        <section>
            <h3>LINKS DE INTERÉS</h3>

            <nav>
                <ul>
                    <li><a href="#">Acerca de nosotros</a></li>
                    <li>Contactanos <a href="#">Icono mail</a> <a href="#">Icono WhatsApp</a></li>
                    <li><a href="#">¿Necesitas ayuda?</a></li>
                </ul>
            </nav>
        </section>

        <section>
            <h3>HACEMOS ENVÍOS A TODO EL PAÍS</h3>
            <p>Próximamente envíos internacionales</p>
        </section>

        <p>Copyright © 2023</p>

        <!-- TODO: agregar creditos de recursos usados -->
        <p>Creditos</p>
    </footer>
    <!-- * FIN FOOTER -->
</body>
</html>