<% for (producto of productos) { %>
    <% for (imagen of producto.images) { %>
        <% if (imagen.mainImage) { 
          imagenPrincipal = imagen.url
         } %>
        <% break; %>
      <% } %>
    <% if (producto.mainProduct) { %>
      <article class="tarjeta-articulo">
        <img src="<%= imagenPrincipal %>" alt="Imagen Producto" class="imagen-producto">
  
        <div class="caja-precio">
            <h3><%= producto.productName %></h3>
            <h4>$<%= calcularMiles(producto.originalPrice) %></h4>
            <h5>Retiralo HOY! <i class="bi bi-box2-heart"></i></h5>
        </div>
        <a href="../products/detalleProducto/<%= producto.idProduct %>" class="boton-compra">Comprar</a>
    </article>
    <% } %>
<% } %>
  