<header>
    <div class="navbar-superior">

        <div class="menu-y-logo">
            <a href="#" id="menu-hamburguesa"><i class="bi bi-list"></i></a>
            <img src="/images/Logo-letras.png" alt="Logo" id="logo-letras">
        </div>
        
        <img src="/images/Logo.png" alt="Logo" id="logo">
        
        <form id="caja-busqueda" action="/search" method="GET">
            <input type="text" id="barra-busqueda" name="keywords" placeholder="Buscar productos...">
            <button class="boton-busqueda"><i class="bi bi-search icono-busqueda"></i></button>
        </form>

        <div class="iconos-movil">
            <a href="#" id="icono-busqueda"><i class="bi bi-search icono-busqueda"></i></a>
        
            <a href="../../users/login" id="boton-cuenta-movil"><i class="bi bi-person"></i></a>
            <a href="../../products/carrito" id="boton-carrito-movil"><i class="bi bi-cart2"></i></a>
        </div>

        <a href="../../users/login" id="boton-cuenta"><i class="bi bi-person"></i> Ingresar</a>
        <a href="../../products/carrito" id="boton-carrito"><i class="bi bi-cart2"></i> Carrito</a>
    </div>
    <nav class="navbar-inferior">
        <ul>
            <li><a href="#">Celulares <i class="bi bi-caret-down"></i></a></li>
            <li><a href="#">Monitores & TVs <i class="bi bi-caret-down"></i></a></li>
            <li><a href="#">Tablets <i class="bi bi-caret-down"></i></a></li>
            <li><a href="#">Notebooks <i class="bi bi-caret-down"></i></a></li>
            <li><a href="#">Hardware <i class="bi bi-caret-down"></i></a></li>
            <li><a href="#">Accesorios <i class="bi bi-caret-down"></i></a></li>
        </ul>
    </nav>
</header>