<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "- ERROR", cssFile: "styles", cssHome: ""}) %>
<body class="body-error">
    <main class="main-error">
        <h1>Oops! Ocurrió un error</h1>
        <h3><%= mensaje && mensaje %></h3>
        <a href="/">Volver al home</a>
    </main>
</body>
</html>