<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: "- About", cssFile: "styles", cssHome: ""}) %>
  <body>
    <!--  !HEADER  -->
    <%- include('../partials/header.ejs') %>

    <main>
      <h1 style="text-align: center;">¿En qué podemos ayudarte?</h1>
      <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tenetur aut maiores eos rem voluptate optio laudantium fugiat velit minus facere autem, culpa saepe esse. Expedita dolorum repudiandae ut ratione!
      Asperiores molestiae nam dolore deleniti, magnam officia et cumque, aperiam voluptates atque libero reiciendis facere facilis sapiente. Eligendi distinctio fuga dolorem aspernatur dolores sed autem nemo vero architecto? Officiis, dolor?
      Similique placeat illo dolore impedit doloribus eligendi odio hic in qui eos natus totam dicta architecto distinctio veniam dolores, inventore alias nesciunt aperiam maxime ut autem. In unde necessitatibus labore.
      Ipsum laborum consequuntur sunt, officiis a, laudantium corrupti rerum pariatur voluptatibus facere consequatur optio quibusdam sed. Quam ipsum autem, dignissimos consectetur, ex maxime accusantium alias exercitationem dolorum, sit tenetur obcaecati.
      Nemo, possimus ut velit reprehenderit perferendis repellendus recusandae voluptatibus soluta rerum illum exercitationem quia cumque, in et aut quidem earum labore provident porro aspernatur non consectetur eos! Expedita, quam sapiente?
      Praesentium ipsam porro dolorum nostrum, voluptas deserunt nihil reiciendis sapiente voluptatum, non veniam recusandae in dicta libero eos est cupiditate? Quisquam corporis rem iusto voluptate corrupti ea inventore consequuntur veritatis.
      Enim a omnis sed quasi velit error labore, sunt pariatur modi ad voluptatibus blanditiis, quae, consequatur maxime nemo quaerat nostrum unde consequuntur quis deleniti provident. Ea nam repellendus illum fugiat!
      Et, est. Quis magni eum nobis amet officiis dignissimos cumque nisi, nihil, quos et iure necessitatibus. Accusamus ipsum natus ratione exercitationem ut similique nihil et optio necessitatibus, rem voluptatibus ducimus!
      Dolores minus eos omnis, suscipit a rem totam quam optio odit ipsa perspiciatis! Assumenda fugiat, rerum odio dolore saepe necessitatibus ipsa, autem mollitia explicabo impedit porro est error nihil deserunt.
      Molestiae, quod quidem. Vitae nisi tenetur odit soluta aut sunt perspiciatis exercitationem nostrum facilis doloremque enim impedit, molestiae adipisci fugit. Molestias impedit sed quibusdam atque repellat aliquam blanditiis unde soluta.</p>

      <p>Si quieres comunicarte con nosotros, <a href="mailto:support@innovatechshop.com">envíanos un mensaje</a></p>

    </main>

    <!--  !FOOTER   -->
    <%- include('../partials/footer') %>
  </body>
</html>