<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "- Registrarse", cssFile: "registro", cssHome: ""}) %>
<body>
    <main class="main-registro">
        <div class="contenedor-form">
            <img src="/images/Logo.png" alt="Logo" class="logo">

            <!-- el form me indica que es un formulario, action es donde se va a guardar el formulario
            y el method es el metodo, get/post/put etc. Cuando aprieto enviar post envia a guardar-->
            <div class="form">
                <div>
                    <h1 class="title"> ¡Bienvenido! </h1>
                    <p class="subtitle">Completá el formulario para crear tu cuenta</p>
                </div>
                
                <form action="/users" method='POST' class="contenedor-registro" enctype="multipart/form-data">
                    <div class="datos">      
                        <div class="contenedor-datos1">
                            <label for="nombre" class="label">Nombre</label>
                            <input type="text" name="nombre" class="input" placeholder="Nombre" required>
                            <span class="feedback-negativo">El nombre es demasiado corto</span>

                            <label for="fecha">Fecha de nacimiento</label>
                            <input type="date" name="fecha" placeholder="DD/MM/AAAA" required>
                            <span class="feedback-negativo">Ingrese una fecha válida</span>
                        
                            <label for="contrasenia">Contraseña</label>
                            <input type="password" name="contrasenia" placeholder="••••••••••" required>
                            <span class="feedback-negativo">Ingrese una contraseña válida</span>
                        </div>
                        
                        <div class="contenedor-datos2">
                            <label for="apellido" class="label">Apellido</label>
                            <input type="text" name="apellido" class="input" placeholder="Apellido" required>
                            <span class="feedback-negativo">El apellido es demasiado corto</span>
            
                    
                            <label for="email" class="label">Correo</label>
                            <input type="email" name="email" class="input" placeholder="ejemplo@ejemplo.com" required>
                            <span class="feedback-negativo">Ingrese un mail válido</span>
                        
                            <label for="confirmarContrasenia">Confirmar contraseña</label>
                            <input type="password" name="confirmarContrasenia" placeholder="••••••••••" required>
                            <span class="feedback-negativo">Las contraseñas no coinciden</span>
                        </div>  
                       
            <!-- poner el estilo en css TRINI-->
                    </div>
                    <label class="label" style="text-align: start; margin: 10px 0px" for="avatar">Foto de perfil</label>
                    <input type="file" name="avatar" class="input">
                    <div>
                        <button type="submit" class="boton-registro">Registrarme</button>
                    </div>
                        
                </form>
               
                <div class="iniciar-sesion">
                    <!-- <a href> es para indicar que es un hipervinculo/enlace-->
                    <p>¿Ya tenés cuenta?</p>
                    <a href="../users/login" class="link-aqui">Iniciá sesión aquí</a>
                </div>
                
                <hr>
            
                <div class="pie-formulario">
                    <a href="#" class="ayuda"><i class="bi bi-question-circle"></i> ¿Necesitas ayuda?</a>
                    <a href="/" class="volver-tienda">Volver a la tienda</i></a>
                    <p class="copyright">Copyright © 2023</p>
                </div>
            </div>             
        </div>
    </main>

</body>
</html>
